# Ignore all model files globally
*.h5
*.pkl

# BUT include models folder specifically
!models/
!models/*.h5
!models/*.pkl

# Virtual environment
myvenv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Uploaded files
uploads/

# Environment variables
.env
